@import url("https://onlycss.netlify.app/main/main.css");
@import url(../../main.css);

:root{
    --primary-color:var(--theme-color)
}

*{
    color: rgba(0, 0, 0, 0.775);
}

aside,section{
    background-color: var(--white-color);
    margin: 1rem 0 1rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.container{
    display: flex;
    width: 100%;
    height: max-content;
}

.fa-heart{text-shadow: 0 0 3px #000;
     -webkit-text-fill-color: var(--theme-color);
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: var(--theme-color);
   
}

ul-list{
    display: flex;
    flex-direction: row
}

.label-radio{
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--gray-color);
}

hr{
    color: var(--white-color);
    margin: 1rem 0 1rem;
}

.section{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    width: max-content;
    width: 89%;
}

.card-product{
    width: 11rem;
    height: max-content;
    margin: 1rem;
}
    .content{
        padding: 0.5rem;
    }
        .content button{
            width: 100%;
            margin: 0.2rem 0;
        }

